# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_FIREBASE_CONFIG='{
  "type": "service_account",
  "projectId": "project-id",
  "private_key_id": "private-key-id",
  "private_key": "private_key",
  "client_email": " client@email.com",
  "client_id": "client-id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": " client-cert-url",
  "universe_domain": "googleapis.com"
}'